{
  "root": true,
  "extends": "google",
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "emit": true
  },
  "rules": {
    "max-len": [
      1,
      100
    ]
  }
}
